<p>Greetings from <%= organizationName %>,</p>
<p><%= senderName %> has invited you to be an administrator for our career fairs.
If you would like to accept the invitation, you can do so here:</p>
<p><%= invitationLink %></p>

<p>Sincerely,<br /><%= organizationName %></p>
