<p>Dear <%= userName %>,</p>
<p>We received a request to reset the password associated with the email address
  <%= emailAddress %> on Career Fair API. If you made this request, follow this
  link to reset your password:</p>
<p><%= resetPasswordLink %></p>
<p>If you did not make this request, you can safely disregard this email.</p>
<br />
<p>Thanks,<br />Career Fair API</p>
